body *{
	transition: 0.3s;
}

.productCard{
    margin-right: 0;
    margin-left: 0;
    margin: auto;
    margin-bottom: 2em;
    border: 2px solid red;
    border-radius: 10%;
}

.d-block, .w-100{
    border-radius: 1%;
    height: 60vh;
}   

i:hover {
    cursor: pointer;
}